<!DOCTYPE html>
<html>
    <head>
    <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav>
        <ul>
            <li><a href="/machine_learning">Home</a></li>
            <li><a href="/machine_learning/about">About</a></li>
            <li><a href="/machine_learning/cv">CV</a></li>
            <li><a href="/machine_learning/blog">Blog</a></li>
        </ul>
        </nav>
        <div class="container">

            {{ content }}

        </div><!-- /.container -->
        <footer>
            <ul>
               <li><a href="mailto:meigaromlopesb@gmail.com">email</a></li>
               <li><a href="https://github.com/meigarom">github.com/meigarom</a></li>
            </ul>
        </footer>
    </body>
</html>
